<div class="col-12 content-title">
  <h2>Register my Pet</h2>
</div>
<div >
  <form class="" action="/pet/new" method="post">
    <label>Name:</label>
    <input type="text" name="name" value="">

    <label>Species:</label>
    <input type="radio" name="species" value="dog" checked> Dog

    <label>Breed:</label>
    <select class="" name="breed">
      <option value=""></option>
      <% @breeds.each do |breed| %>
        <option value="<%= breed.id %>"><%= breed.name %></option>
      <% end %>
    </select>

    <label>Gender:</label>
    <select class="" name="gender">
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>

    <label>Description:</label>
    <input type="text" name="description" value="">

    <input type="hidden" name="owner" value="<%= @owner %>">

    <button>Save</button>
  </form>
</div>
