<div class="col-12 content-title">
  <h2>Register my Pet</h2>
</div>
<div >
  <form class="" action="/pet" method="post">
    <label>Name:</label>
    <input type="text" name="name" value="">

    <label>Species:</label>
    <input type="text" name="species" value="">

    <label>Years:</label>
    <input type="text" name="years" value="">

    <label>Months:</label>
    <input type="text" name="months" value="">

    <label>Breed:</label>
    <input type="text" name="breed" value="">

    <label>Description:</label>
    <input type="text" name="description" value="">

    <input type="text" name="owner" value="">
  </form>
</div>
