<div class="col-12 content-title">
  <h2>Log in</h2>
</div>
<div class="">
  <form class="" action="/session" method="post">
    <label for="">email</label>
    <input type="text" name="email" value="">

    <label for="">password</label>
    <input type="password" name="password" value="">

    <button>login</button>
  </form>
</div>
