<div class="col-12 content-title">
  <h2>Sign up</h2>
</div>
<div >
  <form class="" action="/pet" method="post">
    <label>Name:</label>
    <input type="text" name="name" value="">

    <label>Estate:</label>
    <input type="text" name="estate" value="">

    <label>City:</label>
    <input type="text" name="city" value="">

    <label>Address:</label>
    <input type="text" name="address" value="">

    <label>Post Code:</label>
    <input type="text" name="postcode" value="">

    <label>E-mail:</label>
    <input type="text" name="email" value="">

    <label>Password:</label>
    <input type="password" name="password" value="">

    <input type="text" name="owner" value="">
  </form>
</div>
