.main-content {
  height: 100vh;
  background-image: url("../images/dog_dating.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

.index-container {
  background-size: cover;
  color: #ffffff;
}

.logo {
  max-width: 10px;
}

.content-title {
  text-align: center;
}

.form {
  display: block;
}

.form input {
  display: block;
}

.pet-user {
  border: 1px solid black;
}

.img-home {
  max-height: 15em;
}

.pet-home li{
  list-style: none;
}

.card {
  box-shadow: 5px 5px 10px #000;
}

.card img{
    padding-top: 2em;
}

.card button {
  width: 10em;
  display: inline;
  float: left;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
}


.clear {
  clear: both;
}

.show-pet {
  max-height: 15em;
}

.main {
 	margin-top: 70px;
}

.red {
  color: red;
}

.form-area {
  background-color: rgba(255, 255, 255,0.5);
	padding: 10px 40px 60px;
	margin: 10px 0px 60px;
	border: 1px solid GREY;
}

h1.title {
	font-size: 50px;
	font-weight: 400;
}

hr {
	width: 10%;
	color: #fff;
}

.form-group {
	margin-bottom: 15px;
}

label {
	margin-bottom: 15px;
}

input, input::-webkit-input-placeholder {
  font-size: 11px;
  padding-top: 3px;
}

.main-login {
	background-color: rgba(255, 255, 255, 0.5);
  /* shadows and rounded borders */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.main-center {
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 330px;
  padding: 40px 40px;
}

.login-button {
	margin-top: 5px;
}

.login-register {
	font-size: 11px;
	text-align: center;
}

/*-------- PET_SHOW.ERB----------*/
.pet-row {
  margin-bottom: 14px;
}

.pet-row:last-child {
  margin-bottom: 0;
}

.dropdown-pet {
  margin: 13px 0;
  padding: 5px;
  height: 100%;
}

.dropdown-pet:hover {
  cursor: pointer;
}

.table-pet-information > tbody > tr {
  border-top: 1px solid rgb(221, 221, 221);
}

.table-pet-information > tbody > tr:first-child {
  border-top: 0;
}

.table-pet-information > tbody > tr > td {
  border-top: 0;
}

.toppad {
  margin-top:20px;
}

.buttons {
  margin: 0 auto;
}

.dropmenu {
  background-color: black;
}
.dropmenu li hr {
  font-weight: bold;
  background-color: black;
}

.navbar button {
  width: 100%;
  background-color: black;
  padding: 1em;
  color: #fff;
}

.footer {
  height: 4em;
  background-color: black;
  position: fixed;
  bottom: 0;
}
.pet-panel {
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255,0.5);
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.pet-info {
  padding: 2em;
  background-color: rgba(255, 255, 255, 0.5);
}

.btn-petinfo {
  width: 10em;
  margin-top: 1em;
}
